---
const { title = "Midlands Engraving" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>

  <body class="bg-black text-white">
    <header class="p-0 shadow-md bg-black" id="header">
      <nav class=" flex items-center" style="width: 97%;">
        <div class="flex gap-0">
          <img src="/src/images/iconlaser.png" alt="Midlands Engraving Logo" class="object-contain self-start" id="logo-icon" />
        </div>
        <h1 class="text-xl font-bold">Midlands Engraving</h1>
        <ul class="flex gap-6 text-l font-large ml-auto">
          <li><a href="/" class="hover:text-blue-600">Home</a></li>
          <li><a href="/services" class="hover:text-blue-600">Services</a></li>
          <li><a href="/gallery" class="hover:text-blue-600">Gallery</a></li>
          <li><a href="/contact" class="hover:text-blue-600">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    <main class="max-w-5xl mx-auto p-4">
      <slot />
    </main>

    <footer class="text-center text-sm text-gray-500 py-6 border-t mt-12">
      &copy; {new Date().getFullYear()} Midlands Engraving. All rights reserved.
    </footer>
  </body>
</html>